table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: solid 1px black;
  padding: 1em;
  text-align: center;
}

.buttons {
  display: flex;

  button {
    flex: 1;
  }

  button:first-child {
    background-color: tomato;
  }

  button:last-child {
    background-color: cornflowerblue;
  }
}