<table *ngIf="match$ | async as match">
  <tr>
    <td>
      Player 1
      <span *ngIf="match.server === 1">&#9918;</span>
      <span *ngIf="match.winner === 1">&#11088;</span>
    </td>
    <td *ngFor="let set of match.setResults">{{set[0]}}</td>
    <td *ngIf="!match.winner">{{match.games[0]}}</td>
    <td *ngIf="!match.winner">{{match.points[0] | point:match.points[1]:match.tiebreak}}</td>
  </tr>
  <tr>
    <td>
      Player 2
      <span *ngIf="match.server === 2">&#9918;</span>
      <span *ngIf="match.winner === 2">&#11088;</span>
    </td>
    <td *ngFor="let set of match.setResults">{{set[1]}}</td>
    <td *ngIf="!match.winner">{{match.games[1]}}</td>
    <td *ngIf="!match.winner">{{match.points[1] | point:match.points[0]:match.tiebreak}}</td>
  </tr>
</table>

<nav>
  <button class="p1" *ngIf="!(winner$ | async)" (click)="winPoint(1)">Player 1</button>
  <button (click)="clickReset()">Reset</button>
  <button class="p2" *ngIf="!(winner$ | async)" (click)="winPoint(2)">Player 2</button>
</nav>

<!-- <div *ngIf="match$ | async as match">{{match | json}}</div> -->
