* {
  font-family: sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;

  td {
    padding: 1em;
    text-align: center;
  }
  
  td:first-child {
    text-align: left;
  }

  td:not(:first-child) {
    border-left: solid 1px black;
  }

  td.points {
    font-weight: bold;
  }

  td.p1 .flag {
    color: red;
  }

  td.p2 .flag {
    color: blue;
  }
}

nav {
  display: flex;

  button {
    flex: 1;
    padding: 1em;
  }

  .reset {
    margin: 0 1em;
  }

  .p1, .p2 {
    color: white;
  }

  .p1 {
    background-color: red;
  }

  .p2 {
    background-color: blue;
  }
}
